body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* navber */
.navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;

}

.logo {
    font-weight: bold;
    font-size: 25px;
    color: blue;
}

.signup-btn {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    /*[part of chellang section] */
}

/* banner */

.banner-content {
    font-size: 36px;
    font-style: oblique;
    text-align: center;
    padding: 100px 20px;
    color: rgb(51, 44, 36);
}

.focus-btn {
    padding: 10px 20px;
    font-size: 14px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    /*[part of chellang section] */
}

.nb-section {
    background-image: url("./B12A01-landing-launchpad/ui/Assets/Hero-bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: whitesmoke;
}

.action-left {
    flex: 1;
    padding: 20px;
}

.action-left h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.action-left p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.launch-btn {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    /*[part of chellang section] */
}

.action-right img {
    padding-right: 0px, 0px, 15px, 12px;
    border: solid color(rgb(49, 48, 48) red green blue);
    border-radius: 20px;
    height: auto;

}

.stats-section {
    background-color: whitesmoke;
    text-align: center;
    padding: 50px 20px;
    margin: 5% 10% 5% 10%;
    border-radius: 10px;
    background-size: 100%;
}

.stats-section h2 {
    font-size: 20px;
    margin-bottom: 32px;
    color: #292525;
}

.stat-box {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.stat {
    flex: 1;
    max: width 210px;
    ;
}

.stat h3 {
    font-size: 34px;
    color: #034c94;
    margin-top: 10px;
}

.stat p {
    font-size: 18px;
    color: #696666;
}

/* lets get in touch sec */
.get-touch {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 60px 10%;
    background-color: whitesmoke;
    flex-wrap: wrap;
}

.contact-text {
    flex: 1;

}

.contact-text h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
}

.contact-form {
    flex: 1;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(red, green, blue, alpha);
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.contact-form input {
    padding: 12px;
    margin-top: 5pdx;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#message {
    min-height: 100px;
}

.contact-form button {
    margin-top: 20px;
    padding: 12px;
    background-color: #014aa8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*[part of chellang section] */
}

.footer {
    text-align: center;
    padding: 40px 20px;
    background-color: white
}

.footer h2 {
    color: blue;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

footer p {
    font-size: 20px;
    margin-bottom: 20px;
    font-style: normal;
    color: rgb(117, 68, 68);

}

.footer-links a {
    margin: 0px 10px;
    text-decoration: underline;
}

/* user feedback chellange section */
.feedback-section {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.feedback-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #222;
}

.feedback-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.feedback-ucard {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    max-width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.star img {
    width: 18px;
    height: 18px;
    margin-right: 2px;
}

.feedback-ucard h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}

.feedback-ucard p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.reviewer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviewer img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.reviewer span {
    font-size: 14px;
    font-weight: 500;
}